.container-details-weather {
    @apply w-5/6 flex flex-col flex-wrap justify-center items-center box-border rounded-lg p-1 relative bg-transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.container-details-weather {
    animation-name: slideDetails;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.list-details-weather {
    @apply w-full flex flex-col flex-wrap justify-between box-border p-1 rounded-t-lg bg-transparent;
}
.list-details-weather li {
    @apply m-2 box-border;
}
.list-1-details-weather {
    @apply flex flex-row flex-wrap justify-center items-center;
}

.list-details-weather-optional {
    @apply w-full flex flex-row flex-wrap items-center justify-center box-border rounded-b-lg bg-transparent;
}
.list-details-weather-optional li {
    @apply m-2 box-border;
}
.container-details-weather li {
    @apply font-medium
}

.line-weather {
    width: 0%;
    animation-name: weather;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes slideDetails {
    from {
        transform: translateX(-20%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes weather {
    from {
        width: 0%;
    }
    to {
        width: 45%;
    }
}